<%= form_with url: "/loans/loan_recommendation", method: :get do |form| %>
<div style="padding: 50px;">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <%= form.text_field :email %>
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Pancard</label>
    <%= form.text_field :pancard %>
  </div>
  <div class="col-md-6">
    <label for="inputAddress2" class="form-label">Aadhar number</label>
    <%= form.text_field :aadhar %>
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Bank</label>
    <%= form.text_field :bank %>
  </div>
    <div class="col-md-6">
    <label for="inputZip" class="form-label">IFSC</label>
    <%= form.text_field :ifsc %>
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Account Number</label>
    <%= form.text_field :account_number %>
  </div>
  <div class="col-md-6">
    <label for="inputZip" class="form-label">Inflow</label>
    <%= form.text_field :inflow %>
  </div>
  <div class="col-md-6">
    <label for="inputZip" class="form-label">Outflow</label>
    <%= form.text_field :outflow %>
  </div>
  <div class="col-md-12">
    <%= form.submit "Submit" %>
  </div>
</div>
<% end %>